{% extends 'base.html.twig' %}
{% block title %}Hello UserController!
{% endblock
%}
{% block body %}

    {{ wo_render_breadcrumbs() }}

    <div class="example-wrapper">
        <h1>{{ app.user.email }}</h1>

        <p>
            Vous avez enregistrés
            <b>{{ feeds_count }}</b>
            flux.
        </p>

        <div class="list-group">
            <a href="/user/settings" class="list-group-item list-group-item-action">Mes préférences</a>
            <a href="/user/status" class="list-group-item list-group-item-action">Status de mes feeds</a>
            {# <a href="#" class="list-group-item list-group-item-action"
                        >Porta ac consectetur ac</a
                    >
                    <a
                        href="#"
                        class="list-group-item list-group-item-action disabled"
                        tabindex="-1"
                        aria-disabled="true"
                        >Vestibulum at eros</a
                    > #}
        </div>
    </div>
{% endblock %}
